#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
    text-align: center;
  }

  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

.shown{
      display: block;
  }

.hidden{
      display: none;
  }


 .button{
    width: 50%;
    max-width: 360px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 25%;
}

.button span {
    display: block;
    background: rgba(0, 0, 0, 0.08);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.button span svg {
    color: #FFF;
    width: 20px;
    height: 20px;
}

.button strong {
    flex: 1;
    text-align: center;
    color: #FFF;
    font-size: 18pt;
}

.button:hover {
    background: #2FB86E;
}
